PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=
MONGODB_CLUSTER_NAME=
JWT_SECRET=

MONGO_URI

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

APP_DOMAIN=

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=